*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* start navbar */
        nav {
            background-color:white; 
            padding: 15px 20px;
           
            top: 0;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 9;
            justify-content: space-between;
            align-items: center;
        }
        nav ul li {
            margin: 0 15px;
        }
        nav ul li img {
            width: 200px; 
            height:30px;
        }
        nav ul li a {
            color: black;
            text-decoration: none;
            padding: 10px 20px;
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
        }
        nav ul li a:hover {
            background-color:skyblue;
            color: #fff;
            border-radius: 5px;
        }
        #zones{
            width: 100%;
            height: 50px;
            background-color: black;
            border: 5px solid skyblue;
            text-align: center;
            display: flex;
        justify-content: center;
          align-items: center; 
        }
        /* end navbar */
        /* sec.. image background */
#zone{
  font-size: 20px;
    color: white;
}
    .rita {
        width: 100%;
        height: 360px; 
        background-image: url('https://t3.ftcdn.net/jpg/02/89/60/96/360_F_289609649_SayyqhWUJoVj3roYfRty2sWYEipZ2n0L.jpg');
        background-size: cover; 
        background-position: center;  
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;  
        text-align: center;  
    }
    .text h1 {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 20px;
    }

     p {
        font-size: 10px;
        margin-bottom:10px;
    }    
    .search {
        display: inline-block;
    }
    .search input {
        padding: 8px;
        font-size: 14px;
        width: 400px;
    }
    .search button {
        padding: 8px 16px;
        background-color: #007BFF;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 14px;
    }
    .search button:hover {
        background-color: #0c2846;
    }
    .search p {
        font-size: 14px;
        margin-top: 10px;
    }

    /* end backg...img */

#box1{
    width: 100%; 
    height: 100px;
margin-top: 3%;
}
.sita {
        font-size: 31px;
        text-align: center;
        font-weight: bold;
    }
     .gita {
        font-size: 20px;
        text-align: center;
    }

/* start 4 boxs */
    #container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-around;  
        gap: 7px;  
        padding: 20px;  
    }

    .side {
        width: 560px;
        height: 200px;
        box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);  


        display: flex;
        flex-direction: row;  
        justify-content: space-between;  
        align-items: center;
        padding: 10px;
      border-radius: 10px; 
    }

    .easy img {
        width: 200px;
        height: 160px;
        object-fit: cover; 
        border-radius: 10px;  
    }

    .tara {
        flex: 1;  
        padding-left: 20px;  
    }

    .book {
        font-size: 20px;
    }

    .fast {
        font-size: 18px;
    }

    .don {
        font-size: 17px;
        padding: 15px 30px;
        background-color: white;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 4px 4px 5px rgb(82, 79, 79);  

    }

    .don:hover {
        background-color: rgb(129, 186, 240);
        color: white;
    }

    .lab {
        font-size: 19px;
        color: red;
    }
/* end 4boxs */
/* zoom boxs code strat */
#divya {
        width: 100%;
        height: 300px;
        display: flex; 
        align-items: center; 
        justify-content: center;
        gap: 40px;
    }
    .tag1 img {
        width: 350px;
        height: 250px;
        border-radius: 15px; 
    }
    
#part{
    width: 100;
    height: 550px;
    background-color: rgb(201, 228, 228);
}
.the{
    font-size: 25px;
    font-weight: bolder;
    
}
.thes{
    margin-bottom: 24px;
    font-size: 19px;

}

#part {
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}

.box {
    width: 30%; 
}

/* login page code */

#khushi {
    width: 100%;
    height:700px ;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/011/441/550/small_2x/health-poster-with-caduceus-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center; 
    padding: 20px; 
    border-radius: 10px; 
}
.go{
padding-top: 10%;
}
p{
    font-size: 50px;
}
#logo {
    font-size:40px;
    display: inline-block; 
    margin-top: 20px; 
}

input[type="text"], input[type="password"] {
    padding: 8px;
    margin: 5px;
    width: 80%; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    font-size: 30px;
    border-radius: 4px;
    cursor: pointer;
}
/* login end */

/* 3 image section start */
#part {
    text-align: center; 
}

.row {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

.box {
    display: flex;
    height: 390px;
    flex-direction: column;
    align-items: center;   
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgb(14, 13, 13);
    transition: box-shadow 0.3s ease-in-out;
    margin: 10px;
}

.box:hover {
    box-shadow: 0px 8px 16px rgba(182, 127, 127, 0.2); 
}

.parts1 img {
    width: 150px; 
    height: 200px;
   
    margin-bottom: 15px; 
}

.and {
    text-align: center; 
}

.tor {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tors {
    font-size: 14px;
    color: #666;
}

/* single button code */
#find{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.doctor{
    
align-items: center;
  font-size: 22px;
    width:200px;
    height: 60px;
    border-radius: 40px;
    background-color: #4e9bec;
    color: white;
}

/* end button code */

/* circle code strat */
#across{
    width:100% ;
    height: 300px;
}
.clinic{
    padding-bottom: 3%;
    padding-top: 3%;
}

.clinic p {
    font-size: 25px;
   
}

section {
    text-align: center;
    padding: 20px 0;
}


.speciality-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    /* gap: 5px; */
}

.speciality-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}


.image-box {
    width: 120px;
    height: 120px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.7s ease-in-out;
}

.image-box:hover {
    box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.2); 
}

.speciality-item p {
    padding-top:25% ;
    font-size: 16px;
    color: #1a0606;
    font-weight: bold;
}

/* end code  */
/* big img code start */
/* section {
    background-color: #007BFF; /* Blue background */
    /* padding: 40px 0;
} */ 

#care{
       padding-top: 10%;
 
}

#song {
    width: 80%;
    height:400px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #0a3563; 
    /* padding: 40px 0; */
    background-image: radial-gradient(circle, black 0%, transparent 5%), radial-gradient(circle, black 4%, transparent 6%);
    background-size: 15px 15px; 
    /* background-position: 0 0, 10px 10px;  */
}


.songs {
    color: white;
    flex: 1;
    padding-right: 20px;

}
.songs h2 {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 2px;
    color: #4CAF50;
    padding-right: 40%;
}

.songs p {
    font:48px poppins, sans-serif;
    font-weight: bolder;
    padding-right: 30%;
    margin-top: 40px;
}

.songs button {
    padding: 10px 20px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #488fe0;
    border: none;
    color: rgb(248, 245, 245);
    font-size: 20px;
    /* cursor: pointer; */
 margin-top: 30px;
}

.songs button:hover {
    background-color: red;
}

.video {
    flex: 1;
    display: flex;
    justify-content: center;
}

.video img {
    max-width: 100%;
    height: auto;
}


/* big img code end */

/* start full size img code */

    #home{
        background: linear-gradient(to bottom, rgb(82, 82, 243), white); 
        width: 100%;
        height: 700px;
    }

    .container {
        
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        max-width: 1200px; 
        margin: 0 auto; 
    }
    #home .container .text h2{
        font-size: 40px;
        padding-right: 49%;
    }
    #home .container .text p{
        font-size: 25px;
        padding-right:62%;

    }
    #home .container .text button{
        width: 200px;
        height: 50px;
        border-radius: 30px;

        border: none;
        background-color: #149af3;
        font-size: 25px;
        color: white;
        font-weight: bolder;
        box-shadow: 0px 8px 9px black;
       margin-right: 70%;
    }
    .text {
        color:black; 
        flex: 1; 
        padding-right: 20px; 
    }
    
    .image img {
        max-width: 100%; 
        height: auto; 
    }
    .von{
        padding-top: 10%;
    }
    #home .container .text button:hover{
        background-color: #e64c1d;
        width: 200px;
        height: 50px;
        border-radius: 30px;
    }

/* end code */
/* ject code start */
#ject{
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fresh{

    box-shadow: 8px 10px 10px black;   
     height: 220px;
    width: 89%;
    background-color: rgb(17, 10, 109);
    display: flex;
    align-items: center;
}
#ject .fresh h2{
    font-size: 35px;
    font-weight: bolder;
    align-items: center;
    color: white;
    padding-right: 0%;

}
#ject .fresh div{
    width: 500px;
}
#ject .fresh h2 samp{
    color:orangered ;
}
#ject .fresh h3{
    padding-left: 25%;
    font-size: 20px;
    color:white ;
}
/* end code ject */
/* two last image code start */
#house{
    width: 100%;
    height: 400px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 66px;

}
#house .india{
    width: 600px;
    height: 320px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.india  div p{

    color: gray;
    font-size: 25px;
    font-weight:bolder;
padding-top: 5% ;
}
.india  div{
    width:400px ;
    height:310px ;
    border-radius: 20px;
text-align: center;
border: 4px solid rgb(238, 236, 236);

}
.india  div h2{
    font-size: 39px;
    color: rgb(5, 5, 80);
    font-weight: bolder;
    padding-top: 16%;
}
.india  div button{
    font-size: 19px;
    font-weight: bolder;
    border: none;
    background-color: white;
    padding-top: 5%;
    color:rgb(98, 190, 226) ;
}
.india  div h3{
    color: gray;
}
.india  div:hover{
    border:6px solid rgb(63, 180, 226);
}
/* two last image code end */

/*  onece again big image code start */

#mpox{
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom,  rgb(82, 82, 243), white); 

}
#mpox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10% ;
    background-color: #0a3563;
}
 h6{
    font-size: 25px;
    font-weight: bolder;
    color: black;
    display: inline;
    margin-right: 20px;

}
#mpox  .poxs h1{
    font-size:40px ;
}



#mpox  .poxs button a{
    width: 800px;
    height: 100px;
    border:2px solid black ;
    border-radius: 30px;
    font-size: 40px;
}

#mpox  .poxs input{        
  width: 300px;
  height: 50px;          
  text-align: center;
}

.poxs button{
    width: 150px;
    height: 50px;
   
}
#dell a {
    display: inline-block;
    border: 3px solid black;
    width: 200px;
    height: 50px;
    background-color: #85b7e6;
    color: white;
    text-align: center;
    line-height: 50px; 
    text-decoration: none; 
    border-radius: 8px;
}

#dell a:hover {
    background-color: #ff7043; 
}

#dell a:active {
    background-color: #d84315; 
}
/*  onece again big image code end */
#ragini{
    width: 100%;
    height: 550px;
    background-color: #4e9bec;
    
}
/* footer code strat */
#boss .error img{
    font-size: 303;
}
#boss {    
    width: 100%;
    height: 450px;
    color: white;

    background-color: black;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 20px;
}
ul li{
    list-style: none;
}

#boss .error {
    font-size: 30px;
    flex: 1;
    margin: 10px;
}

#boss .error p {
color: white;
    font-size: 25px;
    margin-top: 10px;
}
/* footer code end */

/* footer 2nd code strat */

.error {
    background-color: black; 
    color: white; 
    font-size: 33px; 
    text-align: center; 
    padding: 20px;
}

.error li {
    list-style: none; 
    margin: 10px 0; 
}

.error i {
    margin-right: 10px; 
}

/* footer 2nd code strat */
              
         
    @media (max-width: 340px) {
        nav ul {
            flex-direction: column;
            text-align: center;
        }
        nav ul li {
            margin: 10px 0;
        }
            .rita {
                height: 300px;  
                padding: 20px;
            }
    
            .text h1 {
                font-size: 24px;  }
            
        }
      